/* mobile mode */
.detail-img {
  width: 360px;
}

.logo {
  height: 100px;
  width: 200px;
}
#landing-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.landing-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* success page */

.success-body {
  text-align: center;
  padding: 40px 0;
  background: #ebf0f5;
}

.success-card-container {
  border-radius: 200px;
  height: 200px;
  width: 200px;
  background: #f8faf5;
  margin: 0 auto;
}

.success-img {
  height: 200px;
  width: 150px;
  padding-top: 10px;
}
.success-card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #c8d0d8;
  display: inline-block;
  margin: 0 auto;
}

/* .success-header{
 to be confirm on font sizze and font family
}

.success-text{
  to be confirm
} */

/* error page */

/* login page */

#login-box {
  padding-left: 0;
  padding-right: 0;
}

.login-img {
  height: 400px;
  width: 390px;
  object-fit: cover;
}

#login-container {
  width: 300px;
}
/* for table size above */
@media screen and (min-width: 767px) {
  #login-main-box {
    margin-top: 120px;
    margin-left: 120px;
  }

  #login-box {
    padding-left: 0;
    padding-right: 0;
  }

  .login-img {
    height: 400px;
    width: 500px;
    object-fit: cover;
  }

  #login-container {
    margin-left: 400px;
    width: 400px;
  }
}
