/* font-family: 'Montserrat', sans-serif;
font-family: 'Nanum Gothic Coding', monospace; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nanum+Gothic+Coding:wght@400;700&display=swap");

body {
  background-image: linear-gradient(#ffd4b2, white) !important;
}

.nav-container {
  background-image: linear-gradient(75deg, #fff8ea, #ffd4b2) !important;
}

.product-title {
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1.3rem;
  font-weight: 700;
}

.product-text {
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 0.8rem;
}

.card {
  width: 300px;
  overflow: hidden;
  background-image: linear-gradient(60deg, #eae0da, #fff, #eae0da) !important;
}
.card-img-top:hover {
  transform: scale(1.5);
  transition: all 1.2s;
}

.accordion-button {
  background-image: linear-gradient(60deg, #eae0da, #fff, #eae0da) !important;
}

.search-container {
  background-image: linear-gradient(60deg, #eae0da, #fff, #eae0da) !important;
}

.product-btn {
  color: #000 !important;
  /* background-color: #eae0da !important; */
  background-image: linear-gradient(60deg, #eae0da, #fff, #fff) !important;
  border-radius: 3% !important;
  border: none !important;
  display: inline-block;
  font-family: "Nanum Gothic Coding", monospace !important;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #aabbb8;
  -webkit-transition: ease-out 0.4s !important;
  -moz-transition: ease-out 0.4s !important;
  transition: ease-out 0.4s !important;
}

.product-btn:hover {
  border: none;
  box-shadow: inset 0 0 0 50px #fff;
}

.product-msg {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem !important;
}

* {
  margin: 0;
  padding: 0;
}

.detail-img {
  width: 360px;
}

.logo {
  height: 100px;
  width: 200px;
}
#landing-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.landing-box {
  padding-left: 0px !important;
}

.landing-pic {
  height: calc(100vh - 62px);
  background-image: url("./assets/images/landing-page.png");
  background-position: center;
  background-size: cover;
  transition: 3s;
}
.landing-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* success page */

.success-body {
  text-align: center;
  padding: 40px 0;
  background: #ebf0f5;
}

.success-card-container {
  border-radius: 200px;
  height: 200px;
  width: 200px;
  background: #f8faf5;
  margin: 0 auto;
}

.success-img {
  height: 200px;
  width: 150px;
  padding-top: 10px;
}
.success-card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #c8d0d8;
  display: inline-block;
  margin: 0 auto;
}

/* .success-header{
 to be confirm on font sizze and font family
}

.success-text{
  to be confirm
} */

/* error page */

/* login page */

#login-main-box {
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    45deg,
    #eae0da 30%,
    #fff,
    #eac7c7
  ) !important;
}

#login-box {
  padding-left: 0;
  padding-right: 0;
}

.login-img {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 400px;
  width: 100%;
  object-fit: cover;
}

#login-container {
  width: 300px;
}

/* register page */
#register-main-box {
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    45deg,
    #eae0da 30%,
    #fff,
    #eac7c7
  ) !important;
}

#register-box {
  padding-left: 0;
  padding-right: 0;
}

.register-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

#register-container {
  width: 300px;
}

.hero-vid {
  display: none;
}

/* cart box */
.offcanvas-body {
  background-image: linear-gradient(60deg, #eae0da, #fff, #eae0da) !important;
}

.cart-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
}

.nav-item {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}
.nav-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}

.badge-text {
  margin-left: 10px;
  color: white !important;
}

.cart-btn {
  color: #000 !important;
  background-image: linear-gradient(60deg, #eae0da, #fff) !important;
  border-radius: 3% !important;
  border: none !important;
  display: inline-block;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #aabbb8;
  -webkit-transition: ease-out 0.4s !important;
  -moz-transition: ease-out 0.4s !important;
  transition: ease-out 0.4s !important;
}

.cart-btn:hover {
  border: none;
  box-shadow: inset 0 0 0 50px #eae0da;
}

.cart-container {
  background-image: linear-gradient(#fff, #eae0da) !important;
}

.cart-img {
  margin-top: 20px;
}

.shopping-cart {
  font-size: 30px;
  color: black;
}

.shopping-cart:hover {
  color: white;
}
/* for tablet medium screen size  768px above */
@media screen and (min-width: 768px) {
  #login-main-box {
    margin-top: 100px;
    background-image: linear-gradient(
      45deg,
      #eae0da 30%,
      #fff,
      #eac7c7
    ) !important;
  }

  #login-box {
    padding-left: 0;
    padding-right: 0;
  }

  .login-img {
    width: 100%;
    object-fit: cover;
  }

  #login-container {
    width: 400px;
  }

  /* register */
  #register-main-box {
    margin-top: 50px;
  }

  #register-box {
    padding-left: 0;
    padding-right: 0;
  }

  .register-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #register-container {
    width: 400px;
  }
}

/* for laptop size above */
@media screen and (min-width: 1024px) {
  #login-main-box {
    width: 100%;
  }

  #login-box {
    padding-left: 0;
    padding-right: 0;
  }

  .login-img {
    height: 500px;
    width: 50vw;
    object-fit: cover;
  }

  #login-container {
    margin-left: 400px;
    width: 300px;
  }

  /* register */
  #register-main-box {
    width: 100%;
  }

  #register-box {
    padding-left: 0;
    padding-right: 0;
  }

  .register-img {
    height: 100%;
    width: 50vw;
    object-fit: cover;
  }

  #register-container {
    margin-left: 400px;
    width: 320px;
  }
}

/* 1440px screen size and above */

@media screen and (min-width: 1440px) {
  .landing-pic {
    width: 100vw;
  }

  #login-main-box {
    width: 100%;
  }

  #login-box {
    padding-left: 0;
    padding-right: 0;
  }

  .login-img {
    height: 500px;
    width: 50vw;
    object-fit: cover;
  }

  #login-container {
    margin-left: 600px;
    width: 300px;
  }

  /* register */
  #register-main-box {
    width: 100%;
  }

  #register-box {
    padding-left: 0;
    padding-right: 0;
  }

  .register-img {
    height: 100%;
    width: 50vw;
    object-fit: cover;
  }

  #register-container {
    margin-left: 650px;
    width: 320px;
  }
}

@media screen and (min-width: 1920px) {
  #register-container {
    margin-left: 620px;
    width: 320px;
  }
  .register-img {
    height: 100%;
    width: 35vw;
    object-fit: cover;
  }

  #login-container {
    margin-left: 630px;
    width: 300px;
  }

  .login-img {
    height: 500px;
    width: 35vw;
    object-fit: cover;
  }
}
