/* mobile mode */
.detail-img {
  width: 360px;
}

/* success page */

.success-body {
  text-align: center;
  padding: 40px 0;
  background: #ebf0f5;
}

.success-card-container {
  border-radius: 200px;
  height: 200px;
  width: 200px;
  background: #f8faf5;
  margin: 0 auto;
}

.success-img {
  height: 200px;
  width: 150px;
  padding-top: 10px;
}
.success-card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #c8d0d8;
  display: inline-block;
  margin: 0 auto;
}

/* .success-header{
 to be confirm on font sizze and font family
}

.success-text{
  to be confirm
} */

/* error page */
